.bg-primary{
    background-color: #82acdc !important;
}

.social-icons .social-icon:hover {
    background-color: #375e8b;
}

.text-primary {
    color: #265182 !important;
}

a {
    color: #265182;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1{
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h1, .h1 {
    font-weight: 400;
    font-size: calc(1.25rem + 5.7vw);
}

.subheading{
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 300;
    text-transform: none;

}

.resume-section{
    background-color: #d4e4f5;
}